<!doctype html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126046336-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-126046336-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>English 4 Trampo</title>
    <style>

    </style>
</head>

<body class="text-center p-3 mb-2 bg-dark text-white">
    <div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
        <main role="main" class="inner cover p-3 mb-2 bg-dark text-white">
            <p class="cover-heading " style="font-size:26pt">
                <%= word %>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner p-3 mb-2 bg-dark text-white">
                <p>inspired in <a href="https://whatthecommit.com/">whatthecommit</a>, created by <a href="https://github.com/GedersonChiquesi/english4trampo">@GedersonChiquesi</a>.</p>
            </div>
        </footer>
    </div>
</body>

</html>
